* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #797979;
    position: relative;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    /* border: orange solid 2px; */
}

.mini-container {
    height: 130px;
    /* border: black solid 2px; */
    display: grid;
    grid-template-rows: 1fr 3fr;
    /* position: sticky; */
    /* top: 0; */
    /* position: -webkit-sticky; */
    position: relative;
}

.inner-container1 {
    /* border: black solid 1px; */
    display: flex;
    justify-content: space-between;
    background: #f6f6f6;
}

.left {
    width: 400px;
    /* border: red solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 370px;
    /* border: blue solid 2px; */
    display: flex;
}

.inner {
    padding: 10px;
}

.inner:hover {
    color: green;
}

.inner-container2 {
    display: flex;
    /* border: brown solid 2px; */
    justify-content: space-between;
    align-items: center;


    /* position: sticky;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    transform: translateY(70px);
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); */
}

.menu {
    display: flex;
}

.droplist {
    display: none;
    top: 130px;
    position: absolute;
    left: 390px;
    min-width: 200px;
    text-align: left;
    transition: all 300ms ease-in;

    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    z-index: 1000;
}

.page_ele {
    line-height: 45px;
    color: #2a2a2a;
    padding: 0px 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
    font: 400 13px / 80px "Heebo", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.page_ele:hover {
    background: #71cd14;
    color: #fff
}

#threeline {
    /* font-size: large; */
    /* list-style: none; */
    display: none;
}

#threeline div {
    /* border: blue solid 2px; */
    width: 25px;
    height: 1px;
    margin-bottom: 5px;
}

.banner {
    min-height: 700px;
    background: url(https://themewagon.github.io/eiser/img/banner/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}

.headline {
    color: #71cd14;
}

.content {
    /* border: black solid 2px; */
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 210px;
}

.content h5 {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

.content h3 {
    font-size: 52px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 15px;
    color: #ffffff;
}

.content h4 {
    font-size: 18px;
    font-family: "Heebo", sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0px;
}

.content button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    background: #71cd14;
    /* border: 1px solid #71cd14; */
    color: #fff;
}

.service {
    display: flex;
    padding-bottom: 70px;
    /* border: black solid 2px; */
}

.servicebox {
    margin-right: 15px;
    margin-left: 15px;
    /* border: orange solid 2px; */
}

.servicebox2 {
    margin-right: 15px;
    margin-left: 15px;
    /* border: orange solid 2px; */
}

.inner-servicebox {
    padding: 30px 15px;
    text-align: center;
    /* border: 1px solid black; */
    /* border: 1px solid #eff2f3; */
    margin-bottom: 50px;
}

.servicebox h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 25px;
    font-family: "Heebo", sans-serif;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #2a2a2a;
}

.servicebox p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.feature {
    padding-bottom: 70px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: #71cd14 solid 2px; */
}

/* .row li {
    border: black solid 2px;
} */
.row .servicebox {
    /* border: black solid 2px; */
    height: 400px;
}

.row .servicebox2 {
    /* border: black solid 2px; */
    height: 480px;
}

.servicebox .upper {
    /* border: rgb(85, 0, 255) solid 2px; */
}

.image {
    width: 100%;
    height: 300px;
    /* border: tomato solid 2px; */
}

.p_icon {
    width: 90%;
    padding: 7px 30px;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(113, 205, 20, 0.4);
    transition: all 400ms ease;
    /* border: #cd1414 solid 2px; */
}

.lower a {
    text-decoration: none;
}

.lower h4 {
    margin-top: 0;
    line-height: 1.2;
    font-family: "Heebo", sans-serif;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;

}

.servicebox .lower {
    padding: 22px 25px 18px;
    /* border: 1px solid #f0f2f1; */
    text-align: left;
}

.lower span {
    font-family: "Heebo", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    color: #2a2a2a;
    margin-right: 1.5rem !important;
}

.lower del {
    color: #797979;
    font-size: 14px;
    font-weight: 300;
    font-family: "Heebo", sans-serif;
}

.banner2 {
    background: url(https://themewagon.github.io/eiser/img/offer-bg.png);
    /* no-repeat center; */
    /* background-size: cover; */
    /* background-position: center; */
    min-height: 550px;
    /* min-height: 700px; */
    /* background: url(https://themewagon.github.io/eiser/img/banner/banner-bg.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover;
    margin-bottom: 40px; */
    /* border: #3614cd solid 2px; */
}

.banner2 .content2 {
    /* border: brown solid 2px; */
    width: 50%;
    position: absolute;
    right: 0;
    padding: 132px 0px;
    text-align: center !important;
}

.banner2 .content2 h3 {
    font-size: 24px;
    font-weight: 300;
    color: #4a4a4a;
    margin-bottom: 40px;
    text-transform: uppercase !important;
    font-family: "Heebo", sans-serif;
    line-height: 1.2;
    margin-top: 0;
    /* border: #71cd14 solid 2px; */
}

.banner2 .content2 h2 {
    font-size: 100px;
    line-height: 80px;
    color: #2a2a2a;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase !important;
    font-family: "Heebo", sans-serif;
    margin-top: 0;
}

.inner-banner {
    position: relative;
}

.content2 a {
    display: inline-block;
    background: #71cd14;
    padding: 0px 32px;
    letter-spacing: 0.25px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 44px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    /* border: 1px solid #71cd14; */
    cursor: pointer;
    text-transform: uppercase;
    transition: all 300ms linear 0s;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 3rem !important;
    text-decoration: none;
}

.content2 p {
    margin-bottom: 0px;
    margin-top: 0;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border: #71cd14 solid 2px; */
}

.order_banner {
    /* position: relative;
    z-index: 1; */
    min-height: 200px;
    /* border: #3614cd solid 2px; */
    background: #f6f6f6;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    /* width: 100%; */
}

.inner_order_banner {
    /* border: red solid 2px; */
    margin: 10px;
}

.inner_order_banner h2 {
    font-size: 27px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
    color: #2a2a2a;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 0;
    /* border: black solid 2px; */
}

.inner_order_banner p {
    margin-bottom: 0px;
    font-weight: 300;
    margin-top: 0;
    /* border: black solid 2px; */
}

.inner_order_banner a {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    font-family: "Roboto", sans-serif;
    margin-right: 18px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.inner_order_banner a::before {
    content: "/";
    font-size: 14px;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
}

.tracking {
    padding: 120px 0px;
    /* border: #cd1414 solid 2px; */
}

.tracking p {
    max-width: 870px;
    color: #2a2a2a;
    margin-bottom: 25px;
    margin-top: 0;
    /* border: violet solid 2px; */
}

.form_eles {
    /* border: #3614cd solid 2px; */
}

.form_ele {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form_ele input {
    height: 40px;
    /* border: 1px solid #eee; */
    padding: 0px 15px;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    font-size: 14px;
    color: #797979;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin: 0;
}

.butt {
    text-transform: uppercase;
    display: inline-block;
    background: #71cd14;
    padding: 0px 30px;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 38px;
    /* border: 1px solid #71cd14; */
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
    text-align: center;
    /* border: 1px solid #71cd14; */
    cursor: pointer;
    transition: all 300ms linear 0s;
}

footer {
    background: #0d0d1f;
    padding: 120px 0px;

}

.col {
    flex: 0 0 16.66%;
    /* border: red solid 2px; */
    /* max-width: 16.66%; */
}

.col1 {
    flex: 0 0 33.33%;
    /* max-width: 16.66%; */
}

.col li {
    list-style: none;
}

.cart {
    padding-top: 100px;
    padding-bottom: 100px;
}

.inner-cart {
    /* border: red solid 2px; */
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr;
}

.inner-cart h5 {
    font-size: 14px;
    color: #2a2a2a;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0px;
}

.product {
    /* border: rgb(0, 255, 26) solid 2px; */
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    /* border: black solid 2px; */
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
}

.product_count {
    position: relative;
    /* border: black solid 2px; */
}

.product_count button {
    display: block;
    border: none;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
    /* position: absolute;
    right: 0px; */
    font-size: 14px;
    color: #cccccc;
    transition: all 300ms linear 0s;
    /* border: red solid 2px; */
}

.product_count input {
    /* margin */
}

/* .inner_order_banner {
    position: relative; 
    width: 100%;
    min-height: 200px;
    background: #f6f6f6;
    z-index: 1;
    display: flex !important;
    align-items: center !important;
    border: #cd1414 solid 2px;
} */

/* .order_innercontainer {
    /* position: relative; */
/* z-index: 10; */
/* border: #71cd14 solid 2px;
    justify-content: space-between !important;
    align-items: center !important;
    display: flex !important;
}

.order_innercontainer h2 {
    font-size: 27px;
    font-weight: 500;
    font-family: "Heebo", sans-serif;
    color: #2a2a2a;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 0;
    border: black solid 2px;
}

.order_innercontainer p {
    margin-bottom: 0px;
    font-weight: 300;
    margin-top: 0;
    border: black solid 2px;
}

.order_innercontainer a {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    font-family: "Roboto", sans-serif;
    margin-right: 18px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}

.order_innercontainer a::before {
    content: "/";
    font-size: 14px;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
} */

@media (max-width: 992px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .right {
        display: none;
    }

    .menu {
        display: none;
    }

    #threeline {
        display: block;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* border: #3614cd solid 2px; */
    }

    .banner2 {
        background: #f6f6f6;
    }

    .banner2 .content2 {
        /* .offer_content { */
        padding: 100px 0px;
        /* position: relative; */
        /* left: 0; */
        width: 100%;
        /* } */
    }

    .row2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* border: #71cd14 solid 2px; */
    }

    .col {
        flex: 0 0 50%;
        /* max-width: 16.66%; */
        margin-bottom: 30px;
    }

    .col1 {
        flex: 0 0 50%;
        /* max-width: 16.66%; */
    }

    /* .banner {} */

    /* 
    .section_gap{padding:80px 0px}
    .section_gap_bottom_custom{padding-bottom:30px}
    .main_title{margin-bottom:45px}
    .offer_area{background:#f6f6f6}
    .offer_content{padding:100px 0px}
    .blog-area{padding-bottom:50px}
    .single-blog h4{margin-top:20px;margin-bottom:8px}
    .single-post-area .sidebar-widgets{padding-bottom:0px}
    .comment-form .email{padding-left:0px}
    .generic-banner .generic-banner-content h2 br{display:none}
    .generic-banner .generic-banner-content p br{display:none}
    .progress-table-wrap{overflow-x:scroll}
    .left-align-p p{margin-top:20px}
    .footer-area .single-footer-widget{margin-bottom:30px}
    .footer-area .single-footer-widget h4{margin-bottom:15px}
    .footer-area .footer-bottom{margin-top:20px}
    .footer-area .footer-bottom .footer-social{text-align:left;margin-top:30px}
    */
}

@media (max-width: 768px) {
    .banner {
        background-position: initial;
    }

    /* .home_banner_area {
        min-height: 500px;
    }

    .home_banner_area .banner_inner {
        min-height: 500px;
    }

    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px;
    }

    /* Blog Page Area css
	============================================================================================ */
    /* .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px;
    } */

    /* End Blog Page Area css
	============================================================================================ */
    /* .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px;
        line-height: 36px;
    }

    .home_banner_area .banner_inner .banner_content p {
        margin-bottom: 0px;
    }

    .home_banner_area .banner_inner .banner_content .white_bg_btn {
        margin-top: 25px;
    }

    .home_banner_area .banner_inner .banner_content p br {
        display: none;
    }

    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px;
    } */

    /* Footer Area css
	============================================================================================ */
    /* .footer-bottom {
        text-align: center;
    }

    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px;
    } */

    /* End End Footer Area css
	============================================================================================ */
    /* .footer_area .container.box_1620 {
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }

    .footer_inner .f_menu li {
        margin-right: 18px;
    }

    .footer_inner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product_top_bar {
        /* display: block; */
    /* clear: inherit;
    }

    .product_top_bar .left_dorp {
        width: 100%;
        display: block;
    }

    .product_top_bar .left_dorp .sorting {
        display: block;
        width: 100%;
        float: none;
        margin-bottom: 10px;

    }

    .product_top_bar .left_dorp .show {
        display: block;
        width: 100%;
        margin-left: 0px;
        flex: none;
    }

    .product_description_area .nav.nav-tabs li {
        margin-bottom: 10px;
    }

    .product_description_area .nav.nav-tabs {
        margin-bottom: -10px;
    } */

    /*
	.p_filter_widgets .list li a::after {
		top: 7px;
	}
*/
    .row {
        display: grid;
        grid-template-columns: 1fr;
        /* border: #cd1414 solid 2px; */
    }
}